header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    position: fi xed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: 1000;
}

.section-inner {
  display: flex;
  justify-content: space-between;
}
  
.main-nav a {
  color: #000000;
  text-decoration: none;
}

.main-nav a:hover {
  color: #276054;
}
  
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

  .section2 h1 {
    display: flex;
    justify-content: center;
    color: #00b39b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 30px;
    padding-top: 20px;
}

  #lead-logo {
    width: 40px;
    height: 40px;
}

.twoparagraphs {
  color: #747474;
  font-size: 16px
}

.paragraph {
  display: inline-block;
  width: 50%; 
  font-size: 16px; 
  vertical-align: top; 
}

.grid-fade-elements {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.375em 1.25em 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3.75rem auto 2.5rem;
  color: #fff;
  font-family: Work Sans, Arial, sans-serif;
  max-width: 1015px;
  padding: 0 20px;
  position: relative;
}

.services-item-services-item-marketplace {
  background-color: #00ccb1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}

.grid-fade-elements #for1title, .grid-fade-elements #for2title, .grid-fade-elements #for3title {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
  font-family: Work Sans, Arial, sans-serif;
}

 h2 {
 font-size: 25px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: 100;
 }

.services-item-services-item-marketplace select{
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.services-item-services-item-saas {
  background-color: #3d83df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}

.services-item-services-item-saas select {
  background-color: #3d83df;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.grid-fade-elements img {
  width: 25px;
  height: auto;
  vertical-align: middle;
  border: 0;
}


.services-services-item-clinics {
  background-color: #1b2734;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}

.services-services-item-clinics select {
  background-color: #1b2734;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.section3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#section3title {
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.section3 div {
  width: 60%;
  display: flex;
}

#section3logos {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background-color: #d0faf4;
  padding-left: 50px;
}

.section4header {
  font-family: Work Sans, Arial, sans-serif;
  padding-top: 60px;
}

section4header h2 {
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding-left: 50px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section4header p {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15px;
  color: #747474;
  padding-bottom: 50px;
  margin: 0 0 10px;
}

.section4fourparts {
  display: flex;
  margin-right: 50px;
  height: 100%;
  justify-content: space-around;
  margin-left: 100px;
}

.section4fourparts div {
  height: 500px;
  width: 250px;
}
.first2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}

#leader, #patients, #appointments, #doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 2px;
}

#leader {
  margin-bottom: 20px;
}

#leader img, #patients img, #appointments img, #doctors img {
  width: 25px;
  height: auto;
}

.section4fourparts h3 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}

.section4fourparts p {
  font-size: 0.8125em;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}

.section4fourparts h3 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}


.section5 h3 {
  font-size: 2.1428571429em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

.section5 p {
  margin: 1.6em 0;
  line-height: 1.7142857143;
  text-align: center;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}

.section6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5cm;
  justify-content: center;
}

.section6 div {
  border-radius: 3%;
  margin: 0.44%;
}

.section6 p {
  font-size: medium;
  color: #747474;
  font-family: Roboto, Arial, sans-serif;
  padding-top: 20px;
  padding-left: 20px;
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

div .buttons {
  display: flex;
  justify-content: space-between;
}

.section6 button {
  margin-top: 0.5cm;
  display: flex;
  gap: 2cm;
  justify-content: center;
  background: #3d83df;
  line-height: 1em;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  margin-right: 20px;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

b, strong {
  font-weight: 700;
}


.section7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section7 h1 {
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: 0.75em;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
  text-align: center;
}

.section7 button {
  margin-left: 120px;
  background-color: #3d83df;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  border-radius: 4px;
  text-align: center;
  border: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 12px;
}

footer {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  padding-left: 100px;
  padding-right: 100px;
}


a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

footer p {
  padding-top: 20px;
}













